# Assignment-3-Q.4 (Hypothesis Testing)

Quetion:

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Solution:

To determine Analysis of varaince between categorical samples or columns we need Chi2 Test.

Assume Null Hypothesis as Ho:customer order forms defective % does not varies by centre(independence of categorical variables)

Thus, Alternative hypothesis as Ha:customer order forms defective % varies by centre(Dependence of categorical variables)

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chi2_contingency

In [3]:
data=pd.read_csv('Costomer+OrderForm.csv')
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [5]:
data.shape

(300, 4)

In [13]:
data.value_counts()

Phillippines  Indonesia   Malta       India
Error Free    Error Free  Error Free  Error Free    206
Defective     Error Free  Error Free  Error Free     21
Error Free    Defective   Error Free  Error Free     20
              Error Free  Defective   Error Free     18
                          Error Free  Defective      16
              Defective   Defective   Error Free      9
Defective     Error Free  Defective   Error Free      4
              Defective   Error Free  Error Free      2
              Error Free  Error Free  Defective       2
Error Free    Defective   Error Free  Defective       2
dtype: int64

In [19]:
data[['Phillippines']].value_counts()

Phillippines
Error Free      271
Defective        29
dtype: int64

In [20]:
data[['Indonesia']].value_counts()

Indonesia
Error Free    267
Defective      33
dtype: int64

In [24]:
data[['Malta']].value_counts()

Malta
Error Free    269
Defective      31
dtype: int64

In [22]:
data[['India']].value_counts()

India
Error Free    280
Defective      20
dtype: int64

In [27]:
observed_values=np.array([[271,267,269,280],[29,33,31,20]])
observed_values

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [30]:
# chi2 contingency independence test
chi2_contingency(observed_values) #  Chi2ContingencyResult(statistic, pvalue, dof, expctd_freq)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [31]:
stats, p_value, dof, expected_freq=chi2_contingency(observed_values)

In [33]:
print(p_value)

0.2771020991233135

In [34]:
# compare p_value with Î± = 0.05 (At 5% significance level)
if p_value < 0.05 :    # alpha value is 0.05 or 5%
    print(" we reject null hypothesis")
else:
    print("we failed to reject null hypothesis")

we failed to reject null hypothesis

Inference:
we accept null hypothesis that costomer order forms defective % does not varies by centre(independence of categorical variables)