# Assignment-3-Q1 (Hypothesis Testing)

Question:

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

Solution:

Assume Null hyposthesis Ho: μ1 = μ2 (There is no difference in diameters of cutlets between two units).

Alternate hypothesis Ha: μ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units) 2 Sample 2 Tail test applicable

In [12]:
import pandas as pd 
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
#from scipy.stats import norm

In [13]:
data=pd.read_csv('Cutlets.csv')
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [19]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [4]:
UnitA=data['Unit A']
UnitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [5]:
UnitB=data.iloc[:,1]
UnitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

### Applying Two sample t-test

In [6]:
p_value=stats.ttest_ind(UnitA,UnitB,equal_var=True)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.47223947245995)

In [7]:
# equal_var:bool, optional
# If True (default), perform a standard independent 2 sample test that assumes equal population variances [1].
# If False, perform Welch’s t-test, which does not assume equal population variance [2].

In [8]:
p_value[1] # 2-tail probability

0.47223947245995

In [9]:
# compare p_value with α = 0.05 (At 5% significance level)

In [10]:
if p_value[1] > 0.05 :    # alpha value is 0.05 or 5%
    print(" we failed to reject null hypothesis")
else:
    print("we reject null hypothesis")

 we failed to reject null hypothesis

Inference:
That means There is no difference in diameters of cutlets between two units.

In [11]:
# for 1 sample ttest
# from scipy.stats import ttest_1samp
# stats.ttest_1samp()



# for 2 sample ttest
# from scipy.stats import norm
# stats.ttest_ind()