# Assignment-3-Q.2 (Hypothesis Testing)

Question:

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

Solution:
 
If Analysis of varaince between more than 2 samples or columns we need ANOVA Test.

Assume Null Hypothesis Ho: All samples Average Turn Around Time (TAT) are same

Thus Alternate Hypothesis Ha: Atleast one sample average TAT  is different

In [1]:
import pandas as pd 
import numpy as np
from scipy import stats
#from scipy.stats import norm
from scipy.stats import f_oneway

In [2]:
data=pd.read_csv('LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
data.shape

(120, 4)

In [4]:
data.corr()

              Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
Laboratory 1      1.000000     -0.126798      0.107501      0.092414
Laboratory 2     -0.126798      1.000000     -0.065967      0.062120
Laboratory 3      0.107501     -0.065967      1.000000     -0.125211
Laboratory 4      0.092414      0.062120     -0.125211      1.000000

In [5]:
Laboratory1=data.iloc[:,0]
Laboratory2=data.iloc[:,1]
Laboratory3=data.iloc[:,2]
Laboratory4=data.iloc[:,3]

In [6]:
# Anova ftest statistics: stats.f_oneway(*samples,axis=0)
p_value=stats.f_oneway(Laboratory1,Laboratory2,Laboratory3,Laboratory4,axis=0)

In [8]:
p_value[1]

2.1156708949992414e-57

In [43]:
# compare p_value with Î± = 0.05 (At 5% significance level)
if p_value[1] < 0.05 :    # alpha value is 0.05 or 5%
    print("we reject null hypothesis ")
else:
    print("we failed to reject null hypothesis")

we reject null hypothesis

Inference:
we conclude that Atleast one sample average TAT is different, that means all samples avderage TAT are not same.